  
  <%= form_with(model: condition, local: true) do |form| %>
    <% if condition.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(condition.errors.count, "error") %> prohibited this condition from being saved:</h2>
  
        <ul>
        <% condition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :condition_date %>
      <%= form.date_select :condition_date %>
    </div>
  
    <div class="field custom-radio">
      <%= form.label "食事" %>
      <br>
      <% @meal_selects.each do |key,meal_select|  %>
        <label class="btn btn-outline-secondary" style="width:19%">
           <%= meal_select %> <%= form.radio_button :meal, key.to_i, class:"d-none center"%>
        </label>
      <% end %>
    </div>
  
    <div class="field  ">
      <%= form.label "排便" %>
      <br>
      <% @defecation_selects.each do |key,defecation_select|  %>
        <label class="btn btn-outline-secondary" style="width:19%">
           <%= defecation_select %> <%= form.radio_button :defecation, key.to_i, class:"d-none center" %>
        </label>
      <% end %>
    </div>
  
    <div class="field  ">
      <%= form.label "睡眠" %>
      <br>
      <% @sleep_selects.each do |key,sleep_select|  %>
        <label class="btn btn-outline-secondary" style="width:19%">
          <%= sleep_select %> <%= form.radio_button :sleep, key.to_i, class:"d-none center" %>
        </label>
      <% end %>
    </div>
  
    <div class="field  ">
      <%= form.label "飲酒" %>
      <br>
      <% @alcohol_selects.each do |key,alcohol_select|  %>
        <label class="btn btn-outline-secondary" style="width:19%">
          <%= alcohol_select %> <%= form.radio_button :alcohol, key.to_i %>
        </label>
      <% end %>
    </div>
  
    <div class="field  ">
      <%= form.label "運動" %>
      <br>
      <% for i in 1..5 %>
        <label class="btn btn-outline-secondary" style="width:19%">
          <%= i %><%= form.radio_button :exercise, i %>
        </label>
      <% end %>
    </div>
  
    <div class="field  ">
      <%= form.label "ストレス" %>
      <br>
      <% for i in 1..5 %>
        <label class="btn btn-outline-secondary" style="width:19%">
          <%= i %><%= form.radio_button :stress, i %>
        </label>
      <% end %>
    </div>

    <div class="field  ">
      <%= form.label "コメント(30文字以内)" %>
      <br>
      <%= form.text_field :text, class: 'form-control' %>
    </div>
  
    <div class="field">
      <%= form.hidden_field :user_id, value:current_user.id %>
    </div>
  
    <div class="actions mt-5 btn-block">
      <%= form.submit %>
    </div>
  <% end %>

  # <script>
  # $(function(){
  #     $('.btn').on('click', function(event){
  #       # event.preventDefault();
  #       $(this).removeClass('active');
  #       $(this).addClass('active');
  #     });
  # });
  # </script>
