
  <%= form_with(model: condition, local: true) do |form| %>
    <% if condition.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(condition.errors.count, "error") %> により保存できません。以下を参照ください。</h2>
  
        <ul>
        <% condition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field col-md-4 px-0">
      <%= form.label :condition_date %>
      <%= form.date_field :condition_date %>
    </div>

    <div class="field btn-group-toggle" data-toggle="buttons">
      <%= form.label "肌の調子" %>
      <br>
      <% @skin_condition_selects.each do |key,skin_condition_select|  %>
        <label class="btn btn-outline-secondary col-lg-2 mb-1">
          <%= skin_condition_select %> <%= form.radio_button :skin_condition, key.to_i, class:"d-none center"%>
        </label>
      <% end %>
    </div>
  
    <div class="field btn-group-toggle" data-toggle="buttons">
      <%= form.label "食事" %>
      <br>
      <% @meal_selects.each do |key,meal_select|  %>
        <label class="btn btn-outline-secondary col-lg-2 mb-1">
          <%= meal_select %> <%= form.radio_button :meal, key.to_i, class:"d-none center"%>
        </label>
      <% end %>
    </div>
  
    <div class="field btn-group-toggle" data-toggle="buttons">
      <%= form.label "排便" %>
      <br>
      <% @defecation_selects.each do |key,defecation_select|  %>
        <label class="btn btn-outline-secondary col-lg-2 mb-1">
           <%= defecation_select %> <%= form.radio_button :defecation, key.to_i, class:"d-none center" %>
        </label>
      <% end %>
    </div>
  
    <div class="field btn-group-toggle" data-toggle="buttons">
      <%= form.label "睡眠" %>
      <br>
      <% @sleep_selects.each do |key,sleep_select|  %>
        <label class="btn btn-outline-secondary col-lg-2 mb-1">
          <%= sleep_select %> <%= form.radio_button :sleep, key.to_i, class:"d-none center" %>
        </label>
      <% end %>
    </div>
  
    <div class="field btn-group-toggle" data-toggle="buttons">
      <%= form.label "飲酒" %>
      <br>
      <% @alcohol_selects.each do |key,alcohol_select|  %>
        <label class="btn btn-outline-secondary col-lg-2 mb-1">
          <%= alcohol_select %> <%= form.radio_button :alcohol, key.to_i, class:"d-none center" %>
        </label>
      <% end %>
    </div>
  
    <div class="field btn-group-toggle" data-toggle="buttons">
      <%= form.label "運動" %>
      <br>
      <% for i in 1..5 %>
        <label class="btn btn-outline-secondary col-lg-2 mb-1">
          <%= i %><%= form.radio_button :exercise, i, class:"d-none center"%>
        </label>
      <% end %>
    </div>
  
    <div class="field btn-group-toggle" data-toggle="buttons">
      <%= form.label "ストレス" %>
      <br>
      <% for i in 1..5 %>
        <label class="btn btn-outline-secondary col-lg-2 mb-1">
          <%= i %><%= form.radio_button :stress, i, class:"d-none center" %>
        </label>
      <% end %>
    </div>

    <div class="field btn-group-toggle" data-toggle="buttons">
      <%= form.label "コメント(30文字以内)" %>
      <br>
      <%= form.text_field :text, class: 'form-control' %>
    </div>
  
    <div class="field">
      <%= form.hidden_field :user_id, value:current_user.id %>
    </div>

    <div class="actions mt-5">
      <%= form.submit class:"btn btn-warning btn-block text-white" %>
    </div>
  <% end %>

  <script>
  //   $(function(){
  //     $('.btn').on('click', function(event){
  //       event.preventDefault();
  //        $(this).removeClass('active');
  //        $(this).toggleClass('active');
  //      });
  //   });
  // </script>

<script>
// $(function(){
//     $('.btn-outline-secondary').on('click', function(event){
// 		event.preventDefault();
//         $(this).removeClass('active');
//         $(this).toggleClass('active');
//     });
// });
// </script>
