<p id="notice"><%= notice %></p>
<div class="container mt-5">
  <div class="row">
    <h1>Conditions</h1>
  </div>  
  <div class="row mt-2">
      <p>< Filter ></p>
  </div>
  <div class="row">
      <%= form_tag(conditions_path,:method => 'get') do %>
        <%= label_tag :meal, "meal" %>
        <%= check_box_tag "graph_keys[]","meal" %>
        <%= label_tag :defecation, "defecation", class:"ml-2" %>
        <%= check_box_tag "graph_keys[]","defecation" %>
        <%= label_tag :sleep, "sleep", class:"ml-2" %>
        <%= check_box_tag "graph_keys[]","sleep" %>
        <%= label_tag :alcohol, "alcohol", class:"ml-2" %>
        <%= check_box_tag "graph_keys[]","alcohol" %>
        <%= label_tag :exercise, "exercise", class:"ml-2" %>
        <%= check_box_tag "graph_keys[]","defecation" %>
        <%= label_tag :stress, "stress", class:"ml-2" %>
        <%= check_box_tag "graph_keys[]","exercise" %>
  
        <%= submit_tag 'Filter', :name => nil %>
      <% end %>
      
      <!--resetクリックでallにしたいがまだ出来ていないのになぜか思った挙動になっている・・・-->
      <%= link_to 'Reset', conditions_path %>
      
  </div>

  <div class="row mt-2" >
      <%= line_chart @output %>
      
      <table class = "table table-hover", style = "margin-top: 50px;">
        <thead class = "thead-dark">
          <tr>
            <th>Condition date</th>
            <th>Meal</th>
            <th>Defecation</th>
            <th>Sleep</th>
            <th>Alcohol</th>
            <th>Exercise</th>
            <th>Stress</th>
            <th>User</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @conditions.each do |condition| %>
            <tr>
              <td><%= condition.condition_date %></td>
              <td><%= condition.meal %></td>
              <td><%= condition.defecation %></td>
              <td><%= condition.sleep %></td>
              <td><%= condition.alcohol %></td>
              <td><%= condition.exercise %></td>
              <td><%= condition.stress %></td>
              <td><%= condition.user_id %></td>
              <td><%= link_to 'Show', condition %></td>
              <td><%= link_to 'Edit', edit_condition_path(condition) %></td>
              <td><%= link_to 'Destroy', condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

  </div>
</div>

<br>

<%= link_to 'New Condition', new_condition_path, class: "btn btn btn-primary" %>