<% provide(:condition_type, "index") %>

<div class="container">
  <h1>Conditions graph</h1>

  <%= render "date_form" %>

  <div class="row mt-4" >
    <div class="col-md-12">
      <%= line_chart @output %>
    </div> 
  </div>

  <!--<h4 class="mt-5 text-white"><span class="bg-secondary px-3">Filter</span></h4>-->

  <div class="container mt-5">
    <%= form_tag(conditions_path,:method => 'get') do %>
      <div class="row form-group mt-3 d-flex justify-content-between">
        <div class="col-md-1 text-nowrap">
          <%= label_tag :meal do %> 肌の調子
          <%= check_box_tag "graph_keys[]","skin_condition" %>
          <% end %>
        </div>
        <div class="col-md-1 text-nowrap">
          <%= label_tag :meal do %> 食事
          <%= check_box_tag "graph_keys[]","meal" %>
          <% end %>
        </div>
        <div class="col-md-1 text-nowrap">
          <%= label_tag :defecation do %> 排便
            <%= check_box_tag "graph_keys[]","defecation" %>
          <% end %>
        </div>
        <div class="col-md-1 text-nowrap">
          <%= label_tag :sleep do %> 睡眠
            <%= check_box_tag "graph_keys[]","sleep" %>
          <% end %>
        </div>
        <div class="col-md-1 text-nowrap">
          <%= label_tag :alcohol do %> 飲酒
            <%= check_box_tag "graph_keys[]","alcohol" %>
          <% end %>
        </div>
        <div class="col-md-1 text-nowrap">
          <%= label_tag :exercise do %> 運動
           <%= check_box_tag "graph_keys[]","defecation" %>
          <% end %>
        </div>
        <div class="col-md-1 text-nowrap">
          <%= label_tag :stress do %> ストレス
            <%= check_box_tag "graph_keys[]","exercise" %>
          <% end %>
        </div>
      </div>

        <div class="row mt-3">
          <div class="col-md-6 offset-md-3" style="display:inline-flex;">
          <!--森本メンターにやってもらってしまった箇所。submit押下→javascript→inputに現在のparamsを入れてコントローラーへ-->
          <input type="hidden" name="" value="" id="data_params" >
          <%= submit_tag 'Filter', :name => nil, onClick: "data_input();", class:"btn btn-sm btn-light mx-1" %>
          <!--ここまで-->

          <!--resetした際に、当月のグラフに戻ってしまう。クリックされた時のparamsを送れれば対応できそうだが。。。森本メンターに教えてもらったのを流用してできた！-->
          <%#= link_to 'Reset', conditions_path, class:"btn btn-outline-secondary btn-block" %>
          <input type="hidden" name="" value="" id="data_params_reset" >
          <%= button_to 'Reset', {controller: 'conditions', action: 'index'}, onClick: "data_reset();", class:"btn btn-sm btn-light mx-1"%>
          </div>
        </div>
    <% end %>
  </div>

    <% if !params[:data].nil? %>
      <!--森本メンターにやってもらってしまった箇所-->
      <script>
        function data_input(){
          $("#data_params").prop("name", "data");
          $("#data_params").prop("value", "<%= params[:data] %>");
        }
      </script>
      <!--ここまで-->
    <% end %>

      <script>
        function data_reset(){
          $("#data_params_reset").prop("name", "graph_keys");
          $("#data_params_reset").prop("value", "");
          data_input();
        }
      </script>

<%= link_to 'New Condition', new_condition_path, class: "btn btn-block mt-5" %>

<%= link_to 'Condition table', conditions_table_path, class: "btn btn-block" %>
