<p>
  <strong>Condition date:</strong>
  <%= @condition.condition_date %>
</p>

<p>
  <strong>肌の調子:</strong>
  <%= @condition.skin_condition %>
</p>

<p>
  <strong>食事:</strong>
  <%= @condition.meal %>
</p>

<p>
  <strong>排便:</strong>
  <%= @condition.defecation %>
</p>

<p>
  <strong>睡眠:</strong>
  <%= @condition.sleep %>
</p>

<p>
  <strong>アルコール:</strong>
  <%= @condition.alcohol %>
</p>

<p>
  <strong>運動:</strong>
  <%= @condition.exercise %>
</p>

<p>
  <strong>ストレス:</strong>
  <%= @condition.stress %>
</p>

<p>
  <strong>User:</strong>
  <%= @condition.user_id %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @condition.text %>
</p>

<%= link_to 'Edit', edit_condition_path(@condition) %> |
<%= link_to 'Back', conditions_path %>
