<% provide(:title, @user.name)%>

<div class="container">

  <div class="row">
     <section class="user_info">
        <h1>
          <%= @user.name %>
        </h1>
      </section>
  </div>

  <div class="row mb-3">
    <div class="col-md-6 offset-md-0">
      <%= link_to "New-Condition", new_condition_path, class:"btn btn-block btn-outline-secondary" %>
    </div>
    <div class="col-md-6">
      <%= link_to "Conditions", conditions_path, class:"btn btn-block btn-outline-secondary" %>
    </div>
  </div>

  <h2 class="mt-5">投稿内容</h2>
  <% @user.posts.each do |post| %>
    <div class="row">
      <div class="col-10">
        <small><%= l post.created_at %></small>
        <br>
        <a href="/posts/<%= post.id %>"><%= post.content %></a>
      </div>
      <% if current_user.id == post.user.id %>
        <div class="col-2">
          <br>
          <small><%= link_to "削除", post, method: :delete,
                                        data: { confirm: "削除してよろしいですか?" } %></small>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>


</div>
