<%#
<div class="container">
  <div class="row col-md-8 offset-md-2">

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf27H-MX-qZh-vMu3o7zRydneCJ__2tOz7HZgqCLs1sFfIazg/viewform?embedded=true" width="640" height="677" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>

  </div>
</div>
%>

<h3 class="text-center mb-3">問い合わせ　/　改善要望</h3>

<%= form_for @contact, url: contacts_new_path do |f| %>

  <div class="form-group">
    <%= f.label :name, 'ニックネーム' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, '返信先メールアドレス' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

 <div class="form-group">
   <%= f.label :message, 'お問い合わせ/改善要望' %>
   <%= f.text_area :message, size: '10x10', class: 'form-control' %>
 </div>

  <%= f.submit '送信' %>

<% end %>