<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/head" %>
    <%= render "layouts/shim" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= analytics_init if Rails.env.production? %> 
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class = "container mt-3">
      <% flash.each do |message_type, message| %>
        <div class = "alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>
    </div>

    <%= render "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>

    </body>
</html>
